body {
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  background: #f8e187;
}

.logo-container {
  margin: 0 auto;
  width: 300px;
}

.logo, .sub-logo {
  text-align: center;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255,0.7);
    z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  transform: translate(-50%,-50%);
  width: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  background: white;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


