body {
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  background: #f8e187;
}

.logo-container {
  margin: 0 auto;
  width: 300px;
}

.logo, .sub-logo {
  text-align: center;
}

